<div class="diag-box">
  <div class="col">
    <div class="row center-top">
      <div class="col page-title">Diagnóstico</div>
      <div class="col small-text">SELECIONADO</div>
      <div class="col back-link no-padding-right">
        <a routerLink="/home/diagnostic/dominion/1/class/1/diagnostic">voltar</a>
      </div>
    </div>
    <div class="row center-box">
      <div class="col-7">
        <div class="row center-top">
          <div class="col-3 no-padding-left no-padding-right">
            <span>CÓDIGO</span>
            <div>000000</div>
          </div>
          <div class="col-5 no-padding-right">
            <span>DOMÍNIO</span>
            <div class="dominion-area">
              Segurança e proteção
            </div>
          </div>
          <div class="col-4 no-padding-right">
            <span>CLASSE</span>
            <div class="class-area">
              Violência
            </div>
          </div>
        </div>
        <div class="no-padding-left no-padding-right">
          <span>NOME</span>
          <div class="name-area">
            Distúrbio na imagem corporal
          </div>
        </div>
        <div class="margin-top">
          <span>DESCRIÇÃO</span>
          <div class="description-area">
            Confusão da imagem mental do eu físico.
          </div>
        </div>
      </div>
      <div class="col-5 col-rel-ca">
        <span>Relacionado a:</span>
        <div class="relation-area">
          <div class="row no-padding-no-margin">
            <p class="no-padding-no-margin">
              <input type="checkbox" id="rel1" />
              <label for="rel1">Relacionado 1</label>
            </p>
          </div>
          <div class="row no-padding-no-margin">
            <p class="no-padding-no-margin">
              <input type="checkbox" id="rel2" />
              <label for="rel2">Relacionado 2</label>
            </p>
          </div>
        </div>

        <span>Caracterizado por:</span>
        <div class="caracterize-area">
          <div class="row no-padding-no-margin">
            <p class="no-padding-no-margin">
              <input type="checkbox" id="car1" />
              <label for="car1">Caracterizado 1</label>
            </p>
          </div>
          <div class="row no-padding-no-margin">
            <p class="no-padding-no-margin">
              <input type="checkbox" id="car2" />
              <label for="car2">Caracterizado 2</label>
            </p>
          </div>
          <div class="row no-padding-no-margin">
              <p class="no-padding-no-margin">
                <input type="checkbox" id="car3" />
                <label for="car3">Caracterizado 3</label>
              </p>
            </div>
        </div>
      </div>
    </div>
    <div>
      <button class="btn center-button" id="btn-a">ADICIONE AO
        <br /> RELATÓRIO</button>
      <button class="btn center-button center-button-margin" id="btn-b">GERAR <br />PRÉ RELATÓRIO</button>
    </div>
  </div>
</div>

<app-menu></app-menu>