<div class="diag-box">
  <div class="col">
    <div class="row center-top">
      <div class="col-6 page-title">Diagnósticos de Enfermagem</div>
      <div class="col small-text">MEUS DOMÍNIOS</div>
      <div class="col back-link no-padding-right">
        <a routerLink="/home">voltar</a>
      </div>
    </div>
    <div class="center-box">
      <div class="row page-subtitle">
        <span>Selecione um domínio&nbsp;&nbsp;-</span>
        <span class="breadcrumbs">&nbsp;&nbsp;Agora selecione a classe&nbsp;&nbsp;-</span>
        <span class="breadcrumbs">&nbsp;&nbsp;Por fim selecione o diagnóstico</span>
      </div>
      <div class="row button-area">
        <a routerLink="1/class"><button class="btn button-box button-create">+</button></a>
        <a routerLink="2/class"><button class="btn button-box">Segurança e <br/>proteção</button></a>
        <a routerLink="3/class"><button class="btn button-box">Atividade/ <br/>Repouso</button></a>
        <a routerLink="4/class"><button class="btn button-box">Enfretamento/ <br/>Tolerância ao extresse</button></a>
        <a routerLink="5/class"><button class="btn button-box">Segurança e <br/>proteção</button></a>
        <a routerLink="6/class"><button class="btn button-box">Atividade/ <br/>Repouso</button></a>
        <a routerLink="7/class"><button class="btn button-box">Enfretamento/ <br/>Tolerância ao extresse</button></a>
        <a routerLink="8/class"><button class="btn button-box">Segurança e <br/>proteção</button></a>
        <a routerLink="9/class"><button class="btn button-box">Atividade/ <br/>Repouso</button></a>
        <a routerLink="10/class"><button class="btn button-box">Enfretamento/ <br/>Tolerância ao extresse</button></a>
      </div>
    </div>
  </div>
</div>

<app-menu></app-menu>