<div class="container center-box">
    <div class="row center-top">
        <div class="col-5 page-title">Prescrição de Enfermagem</div>
        <div class="back-link">
            <a routerLink="/home">voltar</a>
        </div>
    </div>
    <div class="prescription">
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 1</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 2</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 3</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 4</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 5</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 6</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 7</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 8</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 9</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 10</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 11</button>
        </a>
        <a href="create">
            <button class="btn btn-info prescriptionButton">Prescrição 12</button>
        </a>
    </div>
</div>

<app-menu></app-menu>