<div class="logo-box">
  <div class="logo-section row">
    <div class="logo-principal">
      <span id="logo-first">S.A.E.</span>
      <div class="logo-personalization">
        <span id="logo-second">web</span>
      </div>
    </div>
    <div class="logo-description">
      <span id="logo-third">Sistematização
        <br>da assistência
        <br>de Enfermagem
      </span>
    </div>
  </div>
</div>
<div class="decoration-line"></div>
<div class="decoration-line-2"></div>

<div class="menu-options">
  <div class="row menu-options-title-style">
    <div class="menu-options-title">
      Selecione uma opção
    </div>
  </div>

  <div class="row">
    <a routerLink="">
      <div class="menu-options-box box-one">
        <div class="menu-options-text">
          Anamnese e Exame Físico
        </div>
        <div class="menu-options-image"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="menu-options-box box-two margin-left">
        <div class="menu-options-text">
          Diagnóstico de enfermagem
        </div>
        <div class="menu-options-image"></div>
      </div>
    </a>
  </div>

  <div class="row">
    <a routerLink="">
      <div class="menu-options-box box-three">
        <div class="menu-options-image bottom-box-image"></div>
        <div class="menu-options-text bottom-box-text">
          Prescrição de Enfermagem
        </div>
      </div>
    </a>
    <a routerLink="">
      <div class="menu-options-box box-four margin-left">
        <div class="menu-options-image bottom-box-image"></div>
        <div class="menu-options-text bottom-box-text">
          Evolução de Enfermagem
        </div>
      </div>
    </a>
  </div>
</div>