<div class="diag-box">
    <div class="col">
      <div class="row center-top">
        <div class="col-6 page-title">Diagnósticos de Enfermagem</div>
        <div class="col small-text">MEUS DIAGNÓSTICOS</div>
        <div class="col back-link no-padding-right">
          <a routerLink="/home/diagnostic/dominion/1/class">voltar</a>
        </div>
      </div>
      <div class="center-box">
        <div class="row page-subtitle">
          <span class="breadcrumbs">Selecione um domínio&nbsp;&nbsp;-</span>
          <span class="breadcrumbs">&nbsp;&nbsp;Agora selecione a classe&nbsp;&nbsp;-</span>
          <span>&nbsp;&nbsp;Por fim selecione o diagnóstico</span>
        </div>
        <div class="row button-area">
          <a routerLink="dominion/create"><button class="btn button-box button-create">+</button></a>
          <a routerLink="1"><button class="btn button-box">Contaminação</button></a>
          <a routerLink="2"><button class="btn button-box">Ictericia e neonatal</button></a>
          <a routerLink="3"><button class="btn button-box">Risco de violência <br/>relacionado a sí mesmo</button></a>
          <a routerLink="4"><button class="btn button-box">Contaminação</button></a>
          <a routerLink="5"><button class="btn button-box">Ictericia e neonatal</button></a>
          <a routerLink="6"><button class="btn button-box">Risco de violência <br/>relacionado a sí mesmo</button></a>
          <a routerLink="7"><button class="btn button-box">Contaminação</button></a>
          <a routerLink="8"><button class="btn button-box">Ictericia e neonatal</button></a>
        </div>
        <div class="breadcrumbs">
            Dominio selecionado: Segurança e proteção &nbsp;-&nbsp; Classe selecionada: Violência
          </div>
      </div>
    </div>
  </div>
  
  <app-menu></app-menu>