<div class="bottom-menu">
    <div style="display: inline-block">
        <a routerLink="#user">
        <div class="sae-option option-one">
            <div class="sae-user"></div>
        </div>
        </a>
    </div>
    <div style="display: inline-block">
        <a routerLink="/home">
        <div class="sae-home">
            <span id="sae-home-first">S.A.E.</span>
            <div class="personalization">
            <span id="sae-home-second">web</span>
            </div>
        </div>
        </a>
    </div>
    <div style="display: inline-block">
        <a routerLink="#settings">
        <div class="sae-option option-two">
            <div class="sae-settings"></div>
        </div>
        </a>
    </div>
</div>

<div class="horizontal-line"></div>