<div class="diag-box">
  <div class="col">
    <div class="row center-top">
      <div class="col-6 page-title">Diagnósticos de Enfermagem</div>
      <div class="col small-text">MINHAS CLASSES</div>
      <div class="col back-link no-padding-right">
        <a routerLink="/home/diagnostic/dominion">voltar</a>
      </div>
    </div>
    <div class="center-box">
      <div class="row page-subtitle">
        <span class="breadcrumbs">Selecione um domínio&nbsp;&nbsp;-</span>
        <span>&nbsp;&nbsp;Agora selecione a classe&nbsp;&nbsp;-</span>
        <span class="breadcrumbs">&nbsp;&nbsp;Por fim selecione o diagnóstico</span>
      </div>
      <div class="row button-area">
        <a routerLink="1/diagnostic"><button class="btn button-box button-create">+</button></a>
        <a routerLink="2/diagnostic"><button class="btn button-box">Riscos <br/>ambientais</button></a>
        <a routerLink="3/diagnostic"><button class="btn button-box">Metabolismo</button></a>
        <a routerLink="4/diagnostic"><button class="btn button-box">Violência</button></a>
        <a routerLink="5/diagnostic"><button class="btn button-box">Riscos <br/>ambientais</button></a>
        <a routerLink="6/diagnostic"><button class="btn button-box">Metabolismo</button></a>
        <a routerLink="7/diagnostic"><button class="btn button-box">Violência</button></a>
        <a routerLink="8/diagnostic"><button class="btn button-box">Riscos <br/>ambientais</button></a>
        <a routerLink="9/diagnostic"><button class="btn button-box">Metabolismo</button></a>
      </div>
      <div class="breadcrumbs">
        Dominio selecionado: Segurança e proteção
      </div>
    </div>
  </div>
</div>

<app-menu></app-menu>