.diag-box {
    width: 80%;
    height: 400px;
    text-align: center;
  
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.center-top {
  margin: auto;
  margin-bottom: 6px;
}

.center-box {
  text-align: left;

  padding: 26px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  margin-bottom: 10px;

  background-color: white;
}

.button-area{
  height: 170px;
  overflow: auto;
}

.center-button {
  width: 48%;
  height: 65px;

  
}

.center-button#btn-a{
    background-color: #0494dd;
}

.center-button#btn-b{
    background-color: #02a167;
}

.center-button-margin {
  margin-left: 13px;
}

.center-input {
  margin-top: -10px;
}

.not-allowed{
    cursor: not-allowed;
}

.page-title {
  text-align: left;
  padding-left: 0;

  font-size: 30px;
  font-weight: bold;
}

.page-subtitle{
  padding-left: 28px;
  margin-bottom: 0;

  font-size: 22px;
  font-family: 'Dancing Script', cursive;
}

.small-text {
  margin-top: 22px;
  font-size: 10px;
}

.back-link {
  text-align: right;
  margin-top: 17px;
}

.back-link a {
  color: #2e7d32;
  font-weight: bold;
}

.no-padding {
  padding: 0;
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.button-box{
  margin: 10px;
  height: 65px;

  background-color: #02a167;
}

.button-create {
  width: 65px;
  font-size: 33px;
  padding: unset;

  border: 2px solid black;
  background-color: #84DBC0;
}

.breadcrumbs{
  color: #D5D5D5;
}

div.breadcrumbs{
  font-size: 15px;
}

a {
  color: #000000;
}
